<div>
    <!-- Sección de Negocios Colaboradores -->
    <!-- <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; background: linear-gradient(to top left, var(--bg-start), var(--bg-end)); padding: 40px; border-radius: 12px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); transition: background 0.3s ease;" class="md:flex-row theme-dark">
        <div style="flex: 1; text-align: center; transition: color 0.3s ease;" class="md:text-left">
            <h3 style="font-size: 24px; font-weight: bold; margin-bottom: 20px; transition: color 0.3s ease;">Conoce Nuestros Negocios Colaboradores</h3>
            <p style="font-size: 16px; margin-bottom: 20px; transition: color 0.3s ease;">Descubre cómo colaboramos con diversas empresas, desde startups innovadoras hasta corporaciones establecidas. Explora sus perfiles para obtener más información.</p>
            <button style="margin-top: 20px; padding: 10px 20px; background-color: var(--button-bg); color: var(--button-text); border: none; border-radius: 6px; cursor: pointer; transition: background-color 0.3s, color 0.3s;" onmouseover="this.style.backgroundColor='var(--button-hover)'" onmouseout="this.style.backgroundColor='var(--button-bg)'">Explorar Colaboraciones</button>
        </div>
    </div> -->

    <p>Inicio / Negocios compartidos</p>

    <div class="flex flex-col md:flex-row justify-between items-center my-5">
		<h3 class="text-xl font-bold md:text-3xl">Negocios compartidos</h3>
	</div>

	<div class="flex mt-5 justify-end gap-3">
		<div>
			<button
				type="button"
				class="btn btn-outline-primary p-1"
				[ngClass]="{'bg-primary text-white': displayType === DisplayType.LIST}"
				(click)="displayType = DisplayType.LIST"
			>
				<icon-list-check />
			</button>
		</div>
		<div>
			<button
				type="button"
				class="btn btn-outline-primary p-1"
				[ngClass]="{'bg-primary text-white': displayType === DisplayType.GRID}"
				(click)="displayType = DisplayType.GRID"
			>
				<icon-layout-grid />
			</button>
		</div>
	</div>

    <div class="mt-10">
		<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-5 mt-5">
			<ng-container *ngFor="let business of businesses">
				<card 
					[business]="business"
					[isOwnBusiness]="false" 
					(deleteEvent)="handleBusinessDeleted($event)"
				></card>
			</ng-container>
		</div>
	</div>
</div>
    