<ng-container *ngIf="businessElement === businessElementType.INFO; then infoCard; else addCard"></ng-container>

<ng-template #infoCard>
  <div class="space-y-4 rounded-md bg-white p-3 transform duration-300 cursor-pointer shadow-sm hover:shadow-lg min-h-[360px] transition-[transform,box-shadow] hover:-translate-y-1 dark:bg-[#0e1726]" (click)="goToBusiness(business.uuid)">
    <div class="overflow-hidden rounded-md">
      <!-- Imagen de un espacio de coworking -->
      <img draggable="false" *ngIf="business.imagePath; else emptyImage" [src]='business.imagePath' [alt]="'Portrait of \'' + business.name + '\''"
        class="w-full object-cover h-60" />
      <ng-template #emptyImage>
        <div class="flex items-center justify-center w-full h-60 bg-blue-100 dark:bg-gray-700">
          <icon-box class="h-24 w-24 stroke-blue-600 dark:stroke-blue-300"/>
        </div>
      </ng-template>
    </div>
    <div class="min-h-12">
      <h5 class="text-xl font-bold text-gray-900 dark:text-white select-none">{{business.name}}</h5>
      <h6 class="text-sm text-gray-700 dark:text-gray-300 select-none">{{business.description}}</h6>  
    </div>
    <div class="h-7 flex items-center justify-between">
      <!-- Botón de eliminar -->
      <button (click)="openModal($event, businessModalType.DELETE)" type="button" class="text-red-600 hover:text-red-800 hover:bg-[#cbcbcb15] rounded-full transition duration-300 w-7 h-7">
        <icon-trash-lines class="w-5 h-5 m-auto"/>
      </button>
      <div class="flex items-center gap-x-2">
        <button *ngIf="isOwnBusiness" (click)="openModal($event, businessModalType.UPDATE)" type="button" class="group text-blue-500 hover:text-blue-700 hover:bg-[#cbcbcb15] rounded-full transition duration-300 w-7 h-7">
          <icon-pencil class="w-4.5 h-4.5 m-auto"/>
        </button>

        <button *ngIf="isOwnBusiness" (click)="openModal($event, businessModalType.SHARE)" type="button" class="group text-blue-500 hover:text-blue-700 hover:bg-[#cbcbcb15] rounded-full transition duration-300 w-7 h-7">
          <icon-share class="w-5 h-5 m-auto"/>
        </button>

        <button (click)="$event.stopPropagation()" type="button" class="group text-yellow-500 hover:text-yellow-700 hover:bg-[#cbcbcb15] rounded-full transition duration-300 w-7 h-7">
          <icon-star class="w-4.5 h-4.5 m-auto" [ngClass]="{'fill-warning': true}"/>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #addCard>
  <div
    class="flex items-center justify-center flex-col space-y-4 rounded-lg bg-gradient-to-br from-blue-100 to-blue-300 dark:from-gray-700 dark:to-gray-900 p-3 transform transition-[transform,box-shadow] duration-300 cursor-pointer min-h-[360px] h-full shadow-sm hover:shadow-lg hover:-translate-y-1 "
    (click)="openModal($event, businessModalType.ADD)">
    <div class="flex items-center justify-center w-24 h-24 bg-white dark:bg-gray-800 rounded-full shadow-inner">
      <icon-plus class="h-12 w-12 stroke-blue-500 dark:stroke-blue-300"/>
    </div>
    <h5 class="text-lg font-semibold text-gray-800 dark:text-white select-none drag-none hover:text-blue-600 dark:hover:text-blue-400">Añadir negocio</h5>
  </div>
</ng-template>

<modal #businessModal class="no-footer modal-top large-modal">
  <ng-template #modalHeader>
    <div class="!font-medium">{{ isEditMode ? 'Editar empresa' : 'Crear empresa' }}</div>
  </ng-template>
  <ng-template #modalBody>
    <form class="text-sm" [formGroup]="businessModalForm" (ngSubmit)="saveBusinessData()">
      <div class="mb-5">
        <label for="name">Nombre del negocio</label>
        <input id="name" type="text" placeholder="Introduce un nombre" class="form-input" formControlName="name" />
        <div *ngIf="(businessModalForm.controls['name'].invalid && businessModalForm.controls['name'].dirty) || isSubmitted" class="text-red-500">
          Tienes que poner un nombre.
        </div>
      </div>
      <div class="mb-5">
        <label for="imagePath">Ruta de la imagen</label>
        <input id="imagePath" type="text" placeholder="Introduce la ruta de la imagen" class="form-input" formControlName="imagePath" />
      </div>
      <div class="mb-5">
        <label for="description">Descripción</label>
        <textarea id="description" placeholder="Introduce una descripción" class="form-input" formControlName="description"></textarea>
      </div>
      <!-- Campo uuid oculto -->
      <input id="uuid" type="hidden" formControlName="uuid" />
      <div class="mt-8 flex items-center justify-end">
        <button type="button" class="btn btn-outline-danger" (click)="closeModal(businessModal, businessModalForm)">Cancelar</button>
        <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">{{ isEditMode ? 'Guardar' : 'Crear' }}</button>
      </div>
    </form>
  </ng-template>
</modal>

<modal #deleteBusinessModal class="modal-top large-modal">
  <ng-template #modalHeader>
    <div class="!font-medium">Eliminar empresa</div>
  </ng-template>
  <ng-template #modalBody>
    <p>
      ¿Está seguro de que quiere eliminar este negocio? Tendrá un máximo de 48 para recuperarlo contactando con soporte, si no, se eliminará de forma permanente y no se podrá recuperar.
    </p>
  </ng-template>
  <ng-template #modalFooter>
      <button type="button" (click)="deleteBusinessModal.close()" class="btn btn-outline-primary">Cancelar</button>
      <button type="button" (click)="deleteBusiness()" class="btn btn-danger ltr:ml-4 rtl:mr-4">Eliminar</button>
  </ng-template>
</modal>

<modal #shareBusinessModal class="no-footer modal-top large-modal">
  <ng-template #modalHeader>
    <div class="!font-medium">Enviar invitación</div>
  </ng-template>
  <ng-template #modalBody>
    <p class="mb-5"> Escribe el correo electrónico del destinatario para enviar la solicitud de invitación al negocio.</p>
    <form [formGroup]="shareBusinessForm" class="text-sm" (ngSubmit)="shareBusiness()">
      <div class="mb-5">
        <label for="email">Correo electrónico destinatario</label>
        <input id="email" type="email" placeholder="Introduce el correo electrónico del destinatario" class="form-input" formControlName="email" email/>
        <ng-container *ngIf="shareBusinessForm.controls['email'].invalid && isSubmitted">
          <div *ngIf="shareBusinessForm.controls['email'].errors?.['required']" class="text-red-500">
              Debes introducir correo electrónico.
          </div>
          <div *ngIf="!shareBusinessForm.controls['email'].errors?.['required'] && shareBusinessForm.controls['email'].errors?.['email']" class="text-red-500">
              Debes poner un correo electrónico válido.
          </div>
        </ng-container>
      </div>
      <div class="mt-8 flex items-center justify-end">
        <button type="submit" class="btn btn-primary ltr:ml-4 rtl:mr-4">Enviar invitación</button>
      </div>
    </form>
  </ng-template>
</modal>