<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <a routerLink="/" class="main-logo flex shrink-0 items-center">
                    <img class="ml-[5px] w-8 flex-none" src="/assets/images/logo.svg" alt="" />
                    <span class="align-middle text-2xl font-semibold ltr:ml-1.5 rtl:mr-1.5 dark:text-white-light lg:inline">VRISTO</span>
                </a>
                <a
                    href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary rtl:rotate-180 dark:text-white-light dark:hover:bg-dark-light/10"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})"
                >
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ul class="relative space-y-0.5 p-4 py-0 font-semibold">
                    <li class="accordion menu nav-item">
                        <button
                            type="button"
                            class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('dashboard') }"
                            (click)="toggleAccordion('dashboard')"
                        >
                            <div class="flex items-center">
                                <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                    {{ 'dashboard' | translate }}
                                </span>
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('dashboard') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('dashboard')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()"
                                        >{{ 'sales' | translate }}</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </li>

               

                    <h2 class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]">
                        <icon-minus class="hidden h-5 w-4 flex-none" />
                        <span>{{ ('user_interface' | translate) || '&nbsp;' }}</span>
                    </h2>

                    <li class="accordion menu nav-item">
                        <button
                            type="button"
                            class="nav-link group w-full"
                            [ngClass]="{ active: activeDropdown.includes('components') }"
                            (click)="toggleAccordion('components')"
                        >
                            <div class="flex items-center">
                                <icon-menu-components class="shrink-0 group-hover:!text-primary" />

                                <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                    >{{ 'components' | translate }}</span
                                >
                            </div>
                            <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('components') }">
                                <icon-caret-down />
                            </div>
                        </button>
                        <div [@slideDownUp]="!activeDropdown.includes('components')" class="accordion-content">
                            <ul class="sub-menu text-gray-500">
                                <li>
                                    <a routerLink="/components/tabs" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'tabs' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/components/accordions" routerLinkActive="active" (click)="toggleMobileMenu()"
                                        >{{ 'accordions' | translate }}</a
                                    >
                                </li>
                                <li>
                                    <a routerLink="/components/modals" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'modals' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/components/cards" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'cards' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/components/carousel" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'carousel' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/components/countdown" routerLinkActive="active" (click)="toggleMobileMenu()"
                                        >{{ 'countdown' | translate }}</a
                                    >
                                </li>
                                <li>
                                    <a routerLink="/components/counter" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'counter' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/components/sweetalert" routerLinkActive="active" (click)="toggleMobileMenu()"
                                        >{{ 'sweet_alerts' | translate }}</a
                                    >
                                </li>
                                <li>
                                    <a routerLink="/components/timeline" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'timeline' | translate }}</a>
                                </li>
                                <li>
                                    <a routerLink="/components/notifications" routerLinkActive="active" (click)="toggleMobileMenu()"
                                        >{{ 'notifications' | translate }}</a
                                    >
                                </li>
                                <li>
                                    <a routerLink="/components/media-object" routerLinkActive="active" (click)="toggleMobileMenu()"
                                        >{{ 'media_object' | translate }}</a
                                    >
                                </li>
                                <li>
                                    <a routerLink="/components/list-group" routerLinkActive="active" (click)="toggleMobileMenu()"
                                        >{{ 'list_group' | translate }}</a
                                    >
                                </li>
                                <li>
                                    <a routerLink="/components/pricing-table" routerLinkActive="active" (click)="toggleMobileMenu()"
                                        >{{ 'pricing_tables' | translate }}</a
                                    >
                                </li>
                                <li>
                                    <a routerLink="/components/lightbox" routerLinkActive="active" (click)="toggleMobileMenu()">{{ 'lightbox' | translate }}</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                   

                    <li class="menu nav-item">
                        <a routerLink="/charts" class="nav-link group" routerLinkActive="active" (click)="toggleMobileMenu()">
                            <div class="flex items-center">
                                <icon-menu-charts class="shrink-0 group-hover:!text-primary" />

                                <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                    >{{ 'charts' | translate }}</span
                                >
                            </div>
                        </a>
                    </li>

                   
                    <h2 class="-mx-4 mb-1 flex items-center bg-white-light/30 px-7 py-3 font-extrabold uppercase dark:bg-dark dark:bg-opacity-[0.08]">
                        <icon-minus class="hidden h-5 w-4 flex-none" />
                        <span>{{ ('tables_and_forms' | translate) || '&nbsp;' }}</span>
                    </h2>

                    <li class="menu nav-item">
                        <a routerLink="/tables" class="nav-link group" routerLinkActive="active" (click)="toggleMobileMenu()">
                            <div class="flex items-center">
                                <icon-menu-tables class="shrink-0 group-hover:!text-primary" />

                                <span class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark"
                                    >{{ 'tables' | translate }}</span
                                >
                            </div>
                        </a>
                    </li>

                </ul>
            </ng-scrollbar>
        </div>
    </nav>
</div>
