<div [ngClass]="{ 'dark text-white-dark': store.semidark }">
    <nav
        class="sidebar fixed bottom-0 top-0 z-50 h-full min-h-screen w-[260px] shadow-[5px_0_25px_0_rgba(94,92,154,0.1)] transition-all duration-300">
        <div class="h-full bg-white dark:bg-[#0e1726]">
            <div class="flex items-center justify-between px-4 py-3">
                <a routerLink="/" class="main-logo flex shrink-0 items-center">
                    <img class="ml-[5px] w-8 flex-none" src="/assets/images/logo.svg" alt="" />
                    <span
                        class="align-middle text-2xl font-semibold ltr:ml-1.5 rtl:mr-1.5 dark:text-white-light lg:inline">VRISTO</span>
                </a>
                <a href="javascript:;"
                    class="collapse-icon flex h-8 w-8 items-center rounded-full transition duration-300 hover:bg-gray-500/10 hover:text-primary rtl:rotate-180 dark:text-white-light dark:hover:bg-dark-light/10"
                    (click)="storeData.dispatch({ type: 'toggleSidebar'})">
                    <icon-carets-down class="m-auto rotate-90" />
                </a>
            </div>
            <ng-scrollbar class="relative !h-[calc(100vh-80px)]" appearance="compact">
                <ng-container *ngIf="isBusinessPage(); then dashboard; else home"></ng-container>

                <ng-template #dashboard>
                    <ul #dashboard class="relative space-y-0.5 p-4 py-0 font-semibold">

                        <li class="nav-item">
                            <button type="button" class="nav-link group w-full"
                                [ngClass]="{ active: activeDropdown.includes('dashboard') }"
                                (click)="toggleAccordion('dashboard')">
                                <div class="flex items-center">
                                    <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                    <span
                                        class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">
                                        {{ 'dashboard' | translate }}
                                    </span>
                                </div>
                                <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('dashboard') }">
                                    <icon-caret-down />
                                </div>
                            </button>
                            <div [@slideDownUp]="!activeDropdown.includes('dashboard')" class="accordion-content">
                                <ul class="sub-menu text-gray-500">
                                    <li>
                                        <a routerLink="/" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{exact: true}" (click)="toggleMobileMenu()">{{
                                            'sales' | translate }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="nav-link group w-full"
                                [ngClass]="{ active: activeDropdown.includes('users') }"
                                (click)="toggleAccordion('users')">
                                <div class="flex items-center">
                                    <icon-menu-users class="shrink-0 group-hover:!text-primary" />

                                    <span
                                        class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">{{
                                        'users' | translate }}</span>
                                </div>
                                <div [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('users') }">
                                    <icon-caret-down />
                                </div>
                            </button>
                            <div [@slideDownUp]="!activeDropdown.includes('users')" class="accordion-content">
                                <ul class="sub-menu text-gray-500">
                                    <li>
                                        <a routerLink="/users/profile" routerLinkActive="active"
                                            (click)="toggleMobileMenu()">{{ 'profile' | translate }}</a>
                                    </li>
                                    <li>
                                        <a routerLink="/users/user-account-settings" routerLinkActive="active"
                                            (click)="toggleMobileMenu()">{{ 'account_settings' | translate }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <button type="button" class="nav-link group w-full"
                                [ngClass]="{ active: activeDropdown.includes('pages')}"
                                (click)="toggleAccordion('pages')">
                                <div class="flex items-center">
                                    <icon-menu-pages class="shrink-0 group-hover:!text-primary" />

                                    <span
                                        class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark">{{
                                        'pages' | translate }}</span>
                                </div>
                                <div
                                    [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('pages') && !activeDropdown.includes('error')}">
                                    <icon-caret-down />
                                </div>
                            </button>
                            <div [@slideDownUp]="!activeDropdown.includes('pages')" class="accordion-content ancestor">
                                <ul class="sub-menu text-gray-500">
                                    <li>
                                        <a routerLink="/pages/knowledge-base" routerLinkActive="active"
                                            (click)="toggleMobileMenu()">{{ 'knowledge_base' | translate }}</a>
                                    </li>
                                    <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                        <a routerLink="/pages/contact-us-boxed" target="_blank">{{ 'contact_us_boxed' |
                                            translate }}</a>
                                    </li>
                                    <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                        <a routerLink="/pages/contact-us-cover" target="_blank">{{ 'contact_us_cover' |
                                            translate }}</a>
                                    </li>
                                    <li>
                                        <a routerLink="/pages/faq" routerLinkActive="active"
                                            (click)="toggleMobileMenu()">{{
                                            'faq' | translate }}</a>
                                    </li>
                                    <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                        <a routerLink="/pages/coming-soon-boxed" target="_blank">{{ 'coming_soon_boxed'
                                            |
                                            translate }}</a>
                                    </li>
                                    <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                        <a routerLink="/pages/coming-soon-cover" target="_blank">{{ 'coming_soon_cover'
                                            |
                                            translate }}</a>
                                    </li>
                                    <li class="accordion menu nav-item">
                                        <button type="button"
                                            class="w-full before:h-[5px] before:w-[5px] before:rounded before:bg-gray-300 hover:bg-gray-100 ltr:before:mr-2 rtl:before:ml-2 dark:text-[#888ea8] dark:hover:bg-gray-900"
                                            (click)="toggleAccordion('error', 'pages')">
                                            {{ 'error' | translate }}
                                            <div class="ltr:ml-auto rtl:mr-auto"
                                                [ngClass]="{ 'rtl:rotate-90 -rotate-90': !activeDropdown.includes('error') }">
                                                <icon-carets-down [fill]="true" class="h-4 w-4" />
                                            </div>
                                        </button>

                                        <div [@slideDownUp]="!activeDropdown.includes('error')"
                                            class="accordion-content">
                                            <ul class="sub-menu text-gray-500">
                                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                                    <a routerLink="/pages/error404" target="_blank">{{ '404' | translate
                                                        }}</a>
                                                </li>
                                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                                    <a routerLink="/pages/error500" target="_blank">{{ '500' | translate
                                                        }}</a>
                                                </li>
                                                <li routerLinkActive="active" (click)="toggleMobileMenu()">
                                                    <a routerLink="/pages/error503" target="_blank">{{ '503' | translate
                                                        }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a routerLink="/pages/maintenence" target="_blank">{{ 'maintenence' | translate
                                            }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </ng-template>

                <ng-template #home>
                    <ul #dashboard class="relative space-y-0.5 p-4 py-0 font-semibold">
                        <li class="accordion menu nav-item">
                            <a class="nav-link group cursor-pointer">
                                <div class="flex items-center">
                                    <icon-menu-dashboard class="shrink-0 group-hover:!text-primary" />

                                    <span
                                        class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark select-none">Inicio</span>
                                </div>
                            </a>
                        </li>

                        <li class="accordion menu nav-item">
                            <a class="nav-link group cursor-pointer">
                                <div class="flex items-center">
                                    <icon-menu-components class="shrink-0 group-hover:!text-primary" />

                                    <span
                                        class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark select-none">Mis
                                        negocios</span>
                                </div>
                            </a>
                        </li>

                        <li class="accordion menu nav-item">
                            <a class="nav-link group cursor-pointer">
                                <div class="flex items-center">
                                    <icon-menu-users class="shrink-0 group-hover:!text-primary" />

                                    <span
                                        class="text-black ltr:pl-3 rtl:pr-3 dark:text-[#506690] dark:group-hover:text-white-dark select-none">Negocios
                                        compartidos</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </ng-template>
            </ng-scrollbar>
        </div>
    </nav>
</div>